{% extends 'base.html' %}

{% block content %}
<div>{{partner.username}}さんとのチャットを楽しみましょう</div>
<form action="" onsubmit="onsubmitButton_Send();">
    Message : <input type="text" id="input_message" autocomplete="off" autofocus /><input type="submit" value="Send" />
    {% csrf_token %}
</form>

<table class="table">
    <thead>
    </thead>
    <tbody id="list_message"></tbody>
</table>

<table class="table">
    <thead>
    </thead>
    <tbody>
        {% for message in messages %}
        <tr>
        <td>{{ message.content }}</td>
        <td>{{ message.myname }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <!-- 変数のjavascriptへの受け渡し -->
    {{ for_script|json_script:"for_script" }}
<script>
    //htmlコードに入力した文章の受け取り
    const g_elementInputMessage = document.getElementById( "input_message" );
    const g_elementListMessage = document.getElementById( "list_message" );
    //変数受け取り
    var data_from_view = JSON.parse(document.getElementById("for_script").textContent);
    const partnerpk = data_from_view["partnerpk"]
    const userpk = data_from_view["userpk"]
    const partnername = data_from_view["partnername"]
    const messagengername = data_from_view["username"]

    //websocketオブジェクトのインスタンス化
    let ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    const url = ws_scheme + "://" + window.location.host + "/briefSNS/dm/" + partnername + "/" + messagengername + "/"
    const g_socket = new WebSocket(url);

    //送信ボタンを押した時websocketにメッセージを送る
    function onsubmitButton_Send()
    {
        let strMessage = g_elementInputMessage.value;
        if( !strMessage )
        {
            return;
        }
        g_elementInputMessage.value = "";
        event.preventDefault();

        g_socket.send( JSON.stringify( { "message": strMessage, "partnerpk":partnerpk, "userpk":userpk, "messagengername":messagengername} ) );

        return false
    }

    //websokcetからメッセージを受け取った時の処理(html内にメッセージを挿入)
    g_socket.onmessage = ( event ) =>
    {
        let data = JSON.parse( event.data );

        let strMessage = data["message"];
        let messagengername = data["messagengername"];

        let elementTb1 = document.createElement( "td" );
        let text1 = document.createTextNode(messagengername);
        elementTb1.appendChild(text1);

        let elementTb2 = document.createElement( "td" );
        let text2 = document.createTextNode(strMessage);
        elementTb2.appendChild(text2);

        let elementTr = document.createElement( "tr" );
        elementTr.appendChild(elementTb2)
        elementTr.appendChild(elementTb1)

        g_elementListMessage.prepend( elementTr ); 
    };

    //websocket接続が解除された時の処理(通常の解除以外は考慮していない)
    g_socket.onclose = ( event ) =>
    {
        console.error( "Unexpected : Chat socket closed." );
    };
</script>
{% endblock %}